<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>payment</title>
    <link rel="stylesheet" href="../assets/css/attention.css">
    <link rel="stylesheet" href="../assets/css/payment.css">
</head>

<body>
    <div class="wrap">

        <div class="title">
            <h1>결제 방식을 선택해 주세요</h1>
            <div class="paymentBtn">
                <div class="mainPay">
                    <button><img src="../assets/img/card.png">
                        <p>카드</p>
                    </button>
                    <button><img src="../assets/img/mobale.png">
                        <p>모바일쿠폰</p>
                    </button>
                </div>
                <div class="otherPay">
                    <button>삼성페이</button>
                    <button>네이버페이</button>
                    <button>카카오페이</button>
                    <button>애플페이</button>
                </div>
            </div>
            <div class="pointBtn">
                <button>결제취소</button>
                <button>결제하기</button>
            </div>
        </div><!--title-->

    </div><!--wrap-->
</body>

</html>