<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>payment</title>
    <link rel="stylesheet" href="../assets/css/attention.css">
    <link rel="stylesheet" href="../assets/css/payment.css">
</head>
<body>
    <div class="wrap">
            
        <div class="title">
            <h1>결제 방식을 선택해 주세요</h1>
            <div class="paymentBtn">
                <button>카드</button>
                <button>모바일쿠폰</button>
            </div>
            <div class="nextBtn">
                <button>결제취소</button>
                <button>결제하기</button>
            </div>
        </div><!--title-->
            
    </div><!--wrap-->
</body>

</html>