/**************************
 * payment css 
 */
.title{
    text-align: center;
}
.title>h1{
    font-size: 50px;
    padding: 100px 0px 50px 0px;
}
.title .paymentBtn>button{
    background-color: #ffffff;
    border: 4px solid #FED900;
    width: 400px;
    height: 260px;
    border-radius: 50px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 50px 0px 50px;
}
.title .paymentBtn button:hover{
    background-color: #FED900;
    color: #fff;
}
.title .nextBtn>button{
    background-color: #FED900;
    border: none;
    width: 200px;
    height: 120px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    margin: 120px 20px 0px 20px;
}
.title .nextBtn>button:first-child{
    background-color: #ff4444;
    width: 200px;
    height: 120px;
    border-radius: 30px;
}
.title .nextBtn>button:hover{
    background-color: #31160B;
    color: #fff;
}
.title .nextBtn>button:hover:first-child{
    background-color: #ff6d6d;
}
/**************************
 * point css 
 */
 .hpInput h2{
    margin-bottom: 20px;
 }
 .hpInput{
    text-align: center;
    width: 600px;
    border-top: 2px solid #FED900;
    border-bottom: 2px solid #FED900;
    margin: 0px auto;
    padding: 30px 0px 20px 0px;
 }
.showHp{
    margin: 0px auto;
    border: 4px solid #FED900;
    border-radius: 30px;
    font-size: 30px;
    width: 400px;
}
.hpBtn button{
    border: none;
    border-radius: 10px;
    background-color: #fff;
    width: 100px;
    height: 50px;
    margin: 20px 2px 1px 2px;
    font-size: 20px;
}
.hpBtn button:hover{
    background-color: #FED900;
}
.pointBtn{
    text-align: center;
}
.pointBtn button{
    background-color: #FED900;
    border: none;
    width: 220px;
    height: 100px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    margin: 50px 20px 0px 20px;
}
.pointBtn button:first-child{
    background-color: #ff4444;
    width: 220px;
    height: 100px;
    border-radius: 30px;
}
.pointBtn button:hover{
    background-color: #31160B;
    color: #fff;
}
.pointBtn button:hover:first-child{
    background-color: #ff6d6d;
}
